{% include 'css/estilos.twig' %}
{% include 'css/administrador_CSS.twig' %}
<!DOCTYPE html>
<html>
	<head>	
		<title>Add Secuencia</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
		<script src='https://kit.fontawesome.com/a076d05399.js'></script>
		{% block estilo %}{% endblock %}
		{% block administrador_css %}{% endblock %}
	</head>
	<body>
		<div class="header header_Usuario" >
			<a href="/soe/dashboard/secuencia" class="etiqueta_Cerrar_Sesion etiqueta_Atras">
				<i class='fas fa-arrow-left'></i>
			</a>
			<p class="header_p"  id="nombreUsuario">{{username}}</p>
			<span>
				<a href="/soe/logout" class="etiqueta_Cerrar_Sesion">Cerrar Sesion</a>
			</span>
		</div>
		<div class="content">
			<h1 class="content_Title_Menus">Nueva Secuencia</h1>	
			<br>		
			<p class="instrucciones">Ingresa la clave de la secuencia y la carrera a la que pertenece</p>
			{% if responseMessage != null %}
				<div class="alert alert-primary" role="alert">
					{{ responseMessage }}
				</div>
			{% endif %}
			<form method="post" action="/soe/dashboard/secuencia/add/sec">
				<input type="text" name="clave" class="input_Text input_Text_Admin" placeholder="Clave secuencia (max. 5 caracteres)" required="true" onkeyup="this.value = this.value.toUpperCase();"/>
				<select name="carrera" class="select" required="true">
					<option selected="true" disabled >Selecciona una Carrera</option>
					<option value="Licenciatura en Ciencias de la informática">Licenciatura en Ciencias de la inform&aacutetica</option>
					<option value="Ingenieria en informática">Ingenieria en inform&aacutetica</option>
				</select>

				<button type="submit" class="boton boton_Admin">Continuar</button>
			</form>
		</div>
	</body>
</html>