{% include 'css/estilos.twig' %}
{% include 'css/administrador_CSS.twig' %}
<!DOCTYPE html>
<html>
	<head>	
		<title>Materia Dashboard</title>
		{% block estilo %}{% endblock %}
		{% block administrador_css %}{% endblock %}
	</head>
	<body>
		<div class="header header_Usuario" >
			<p class="header_p"  id="nombreUsuario">{{username}}</p>
			<span>
				<a href="/soe/logout" class="etiqueta_Cerrar_Sesion">Cerrar Sesion</a>
			</span>
		</div>
		<div class="content">
			<h1 class="content_Title_Menus" >Gestión de materias</h1>
			<div class="menu_Opciones">
				<div class="fila">
					<div class="columna">
						<span class="menu_Item"><a href="form_Nueva_Materia.html">Crear Nueva Materia</a></span>
					</div>
					<div class="columna">
						<span class="menu_Item"><a href="">Listar Materias</a></span>
					</div>
				</div>
			</div>			
		</div>
	</body>
</html>