{% include 'css/estilos.twig' %}
{% include 'css/administrador_CSS.twig' %}

<!DOCTYPE html>
<html>
	<head>	
		<title>Admin Dashboard</title>
		{% block estilo %}{% endblock %}
		{% block administrador_css %}{% endblock %}
	</head>
	<body>
		<div class="header header_Usuario" >
			<p class="header_p"  id="nombreUsuario">{{username}}</p>
			<span>
				<a href="/soe/logout" class="etiqueta_Cerrar_Sesion">Cerrar Sesion</a>
			</span>
		</div>
		<div class="content">
			<h1 class="content_Title">Bienvenido</h1>
			<div class="menu_Opciones">
				<div class="fila">
					<div class="columna">
						<span class="menu_Item"><a href="/soe/dashboard/profesor">Gestionar Profesor</a></span>
					</div>
					<div class="columna">
						<span class="menu_Item"><a href="menu_Admin_Alumno.html">Gestionar  Alumno</a></span>
					</div>
				</div>
				<div class="fila">
					<div class="columna">
						<span class="menu_Item"><a href="/soe/dashboard/materia">Gestionar  Materia</a></span>						
					</div>
					<div class="columna">
						<span class="menu_Item"><a href="/soe/dashboard/secuencia">Gestionar Secuencia</a></span>						
					</div>
				</div>
			</div>			
		</div>
	</body>
</html>