{% include 'css/estilos.twig' %}
{% include 'css/profesor_CSS.twig' %}
{% include 'css/main_CSS.twig' %}
{% include 'css/main_JS.twig' %}
{% include 'css/daygrid_CSS.twig' %}
{% include 'css/daygrid_JS.twig' %}
{% include 'css/es_JS.twig' %}

<!DOCTYPE html>
<html>
	<head>	
		<title>Soe</title>
        <script src='https://kit.fontawesome.com/a076d05399.js'></script>
		{% block estilo %}{% endblock %}
        {% block profesor_CSS %}{% endblock %}
        {% block main_CSS %}{% endblock %}
        {% block daygrid_CSS %}{% endblock %}
        {% block main_JS %}{% endblock %}
        {% block daygrid_JS %}{% endblock %}
        {% block es_JS %}{% endblock %}
	</head>
     <script>

      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');

        var eventos = {{ listaTareas|json_encode|raw }};
        var calendar = new FullCalendar.Calendar(calendarEl, {
          plugins: [ 'dayGrid' ],
          locale: 'es',
          header: {
            center: '',
            right: 'dayGridWeek, dayGridMonth, today, prev, next'
          },
          height: "parent",
          events: eventos,
          eventClick: function(info){

            document.getElementById('modalDetalleTarea').style.display = 'block';
            document.getElementById('titulo_Tarea').innerHTML = info.event.title;
            document.getElementById('tipo_Tarea').innerHTML = info.event.extendedProps.tipo;
            document.getElementById('descripcion_Tarea').innerHTML = info.event.extendedProps.description;
            document.getElementById('clave_Secuencia').innerHTML = info.event.extendedProps.secuencia;
          }
        });

        calendar.render();
        
      });
     
    </script>
    
	<body>
    <div class="header header_Usuario" >
            <a href="/soe/alumno/{{idClase}}" class="etiqueta_Cerrar_Sesion etiqueta_Atras">
        <i class='fas fa-arrow-left'></i>
      </a>
      <p class="header_p"  id="nombreUsuario">{{username}}</p>
      <span>
        <a href="/soe/logout" class="etiqueta_Cerrar_Sesion">Cerrar Sesion</a>
      </span>
    </div>
    <div class="content" style="height: 80%;">
      <br>
      <div class="menu_Actividad menu_Actividad_Detail" style="text-align: center;">
        <span class="tag_Menu_Actividad tag_Tarea_Detail editar_Tag" onclick="showActExtra()">
          Nueva Actividad Extracurricular
        </span>
      </div>
      <div id='calendar' class="" style="margin-top: .5cm;"></div>
    </div>

    <div id="modalDetalleTarea" class="modal_This modal_Secuencia" style="display: none;">
      <div class="modal_Content">
          <span class="close" >
              <a onclick="hideModal()">&times;</a>
          </span>
          <br>
          <h5 id="tipo_Tarea"></h5>
          <h4 id="clave_Secuencia"></h4>
          <h3 id="titulo_Tarea"></h3>
          <p id="descripcion_Tarea" class="instrucciones"></p>
      </div>
    </div>    
    <div id="modalActExtra" class="modal_This modal_Secuencia" style="display: none;">
      <div class="modal_Content modal_Act">
          <span class="close" >
              <a onclick="hideActExtra()">&times;</a>
          </span>
          <br>
          <h2>Nueva Actividad Extracurricular</h2>
          <p class="instrucciones">Ingrese los siguientes datos</p>
          <form method="post" action="/soe/alumno/actividadExtra">
          <input name="idClase" value="{{idClase}}" style="display: none;" />
            <span class="span span_Act">Nombre de la actividad</span>
            <input type="text" name="nombreActividad" class="input_Text " placeholder="Ingrese el nombre de la actividad" required/><br>
            <span class="span span_Act">Descripción</span><br>
            <textarea name="descripcionActividad" class="text_Area input_Text_Teacher text_Area_ActE" placeholder="Describe la Actividad" rows="4" cols="50" required></textarea><br>
            <span class="span span_Act">Fecha límite</span>
            <input type="date" id="myDate" name="fechaActividad" class="date_Act" required/>
            <button class="boton boton_Usuario">Enviar</button>
          </form>
      </div>
    </div>
  </body>
  <script>
    var today = new Date();
		var dd = String(today.getDate()).padStart(2, '0');
		var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
		var yyyy = today.getFullYear();
		today = yyyy + '-' + mm + '-' + dd;
		document.getElementById("myDate").min = today;
    function showActExtra(){
      document.getElementById('modalActExtra').style.display = 'block';

    }
    function hideActExtra(){
      document.getElementById('modalActExtra').style.display = 'none';

    }
    function hideModal()
    {
        document.getElementById('modalDetalleTarea').style.display = 'none';
    }
  </script>
</html>